<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Trainsetlight </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <header class="header">
        <div class="logo"> YOUR VIRTUAL SCHOOL!</div>
        <nav class="main-nav">
            <ul class="nav-list">
                <li><a href="">Home</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">Payment</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="preview">
            <div class="text">
                <h1>Good morning @username!</h1>
                <p> We missed you here!! Welcome back :). New day new objectives, remember to do all your 
                    homework for today, the teachers will see it. </p>
                <h1> ¡! IMPORTANT !¡
                    Save everything you do or the teachers wont see it
                </h1>
                
            </div>
            <div class="img">
                <img src="/template/imagenes/robot 1.jpg" alt="robot">
            </div>
            <div class="text">
                <h1> OH! Today you dont have to do any homework!</h1>
                <p> Now you can relax, and open this page tomorrow to see if you have any homework</p>
            </div>
        </section>
    </main>
</body>
</html>